#animation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.5s;
}

.pomodoro {
  background-color: #ff6961;
}

.short-break {
  background-color: #77dd77;
}

.long-break {
  background-color: #779ecb;
}

.custom {
  background-color: #fdfd96;
}
